{{!< default}}

<main id="gh-main" class="gh-main gh-canvas">
    <section class="gh-pagehead">
        <header class="gh-pagehead-content">
            <h1 class="gh-pagehead-title">Archive</h1>

            <div class="gh-pagehead-description">
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural pagination.total empty="0 issues" singular="% issue" plural="% issues"}}
                {{/if}}
            </div>

 <figure class="kg-card kg-code-card">

    {{!-- Main --}}
    <main id="main">

        <div>
            <h2>Hey 👋</h2>
            <p>My name’s Dave. I’m a Web Designer and Front-end Developer based in Bristol, currently working at Ghost as Developer Advocate.</p>
        </div>

        {{!-- Featured Post --}}
        {{#is "home"}}
        {{#get "posts" filter="featured:true" limit="1" as |featured_post|}}
            {{#foreach featured_post}}
                <article class="post featured">

<figcaption>Snippet from a customised index.hbs file</figcaption>

</figure>

        </header>
    </section>

    {{#get "posts" filter="featured:true" limit="all" as |featured|}}
        {{#if featured}}
            <section class="gh-section gh-section-featured">
                <h3 class="gh-section-title"><span>Featured</span></h3>

                <div class="gh-featured">
                    {{#foreach featured}}
                        {{> loop}}
                    {{/foreach}}
                </div>
            </section>
        {{/if}}
    {{/get}}

    <section class="gh-section">
        <h3 class="gh-section-title"><span>Latest</span></h3>

        <div class="gh-feed">
            {{#get "posts" limit="all"}}
                {{#foreach posts}}
                    {{> loop}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>
</main>
